server {
        listen 80;
        server_name localhost;

        access_log /var/log/nginx/{{ lighthouse_access_log_name }}.log;

        location / {
                root    {{ lighthouse_location }};
                index   index.html;
        }
}